
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header ul li{
list-style: none;
}

header ul{
    display: flex;
    flex-direction: row;
    column-gap: 10em;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

